@model ProjetoEcommerce.Models.Usuario;

<h1>Login</h1>

<form asp-action="Login" method="post">
    <div>
        <label>Email:</label>
        <input type="email" name="email" required />
    </div>
    <div>
        <label>Senha:</label>
        <input type="password" name="senha" required />
<<<<<<< HEAD
        <h1>Vinicius</h1>
=======
        <h1>JOAO</h1>
>>>>>>> 1d55a33483a4ca7a56503f09fffa30cfb9750797
    </div>
    <button type="submit">Login</button>
    
</form>
