@model ProjetoEcommerce.Models.Usuario;

<h1>Login</h1>

<form asp-action="Login" method="post">
    <div>
        <label>Email:</label>
        <input type="email" name="email" required />
    </div>
    <div>
        <label>Senha:</label>
        <input type="password" name="senha" required />
<<<<<<< HEAD
        <h1>Murilo</h1>
=======
<<<<<<< HEAD
        <h1>gabriel</h1>
=======
<<<<<<< HEAD
        <h1>Marina</h1>
=======
<<<<<<< HEAD
        <h1>Pedro</h1>
=======
<<<<<<< HEAD
        <h1>Leonardo </h1>
=======
<<<<<<< HEAD
    <h1>Renato</h1>
=======
<<<<<<< HEAD
        <h1>Vinicius</h1>
=======
        <h1>JOAO</h1>
>>>>>>> 1d55a33483a4ca7a56503f09fffa30cfb9750797
>>>>>>> 9c146a8eb5ece7b8da75e782d6bab28d1f01e4b1
>>>>>>> 0b44778b3c11b56f131c933f983d7fbed2e0f254
>>>>>>> af265f059f61b84aaeb0faaa8190325a425efbc6
>>>>>>> cb25bb26f06d2c80ef2211ccd6643febfa20ef40
>>>>>>> dc0717d9ee5e52211b83a1712e74135e06b1c61f
>>>>>>> 44523a31c0016d719655620b706a7947c8f1020a
    </div>
    <button type="submit">Login</button>
    
</form>
